body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid white;
}
